autovehicletest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="vehicleType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="车辆类型"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="vehicleSpeedLimit">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="限速值"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="vehicleSpeed">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="车辆行驶速度"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="vehiclePlateType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="车牌种类"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="vehicleId">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="过车记录编号"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="vehicleColour">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="车身颜色"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="vehicleBrand">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="车辆品牌"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="timestamp">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="2013-06-19 15:48:10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="throughTime">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="过车时间"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="syncStatus">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="同步状态"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="pointId">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="卡口编号"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="parameternode">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="vehicleId"/>
				<xs:element ref="pointId"/>
				<xs:element ref="equipId"/>
				<xs:element ref="throughTime"/>
				<xs:element ref="laneNum"/>
				<xs:element ref="direction"/>
				<xs:element ref="vehicleSpeedLimit"/>
				<xs:element ref="vehicleSpeed"/>
				<xs:element ref="frontPlateNum"/>
				<xs:element ref="frontPlateColor"/>
				<xs:element ref="backPlateNum"/>
				<xs:element ref="backPlateColour"/>
				<xs:element ref="vehiclePlateType"/>
				<xs:element ref="coordinate"/>
				<xs:element ref="vehicleColour"/>
				<xs:element ref="colourDepth"/>
				<xs:element ref="vehicleType"/>
				<xs:element ref="illegalState"/>
				<xs:element ref="illegalType"/>
				<xs:element ref="vehicleBrand"/>
				<xs:element ref="appearTime"/>
				<xs:element ref="disappearTime"/>
				<xs:element ref="abstractId"/>
				<xs:element ref="syncStatus"/>
				<xs:element ref="channelId"/>
				<xs:element ref="imageFlag"/>
				<xs:element ref="imageurlList"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="parameterlist">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="parameternode"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="message">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="该次报文的唯一ID"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="laneNum">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="车道编号"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="kedacomxmldata">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="message"/>
				<xs:element ref="timestamp"/>
				<xs:element ref="parameterlist"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="img">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="imageType"/>
				<xs:element ref="imageUrl"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="imageurlList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="img" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="imageUrl">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="2333"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="imageType">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="imageFlag">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="图片标识位"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="illegalType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="违法类型"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="illegalState">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="违法状态"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="frontPlateNum">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="前车牌号码"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="frontPlateColor">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="前车牌颜色"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="equipId">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="前端设备编号"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="disappearTime">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="消失时间"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="direction">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="车辆行驶方向编号"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="coordinate">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="车牌坐标"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="colourDepth">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="颜色深浅"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="channelId">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="设备通道号"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="backPlateNum">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="后车牌号码"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="backPlateColour">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="后车牌颜色"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="appearTime">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="出现时间"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="abstractId">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="摘要唯一标识"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
